body {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
}

img {
  width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

main {
  min-height: 100vh;
  background: var(--main-bg-col);
  align-items: center;
  justify-content: center;
}

.card {
  width: 75em;
  height: 27.5rem;
  margin: 2rem;
  background: var(--card-bg-col);
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

.card .card-txt, 
.card .card-img {
  width: 50%;
  height: 100%;
}

.card .card-txt {
  padding: 4rem;
  padding-right: 6rem;
  align-items: flex-start;
  justify-content: space-between;
}

.card .card-txt #desc {
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.card .card-txt #desc h1 {
  color: var(--main-h-stats-col);
  font-size: 2.25rem;
}

.card .card-txt #desc p {
  font-family: var(--secondary-font);
  color: var(--main-p-col);
  line-height: 1.5;
}

.card .card-txt #stats {
  width: 85%;
  align-items: flex-start;
  justify-content: space-between;
}

.card .card-txt #stats .stat-number {
  font-size: 1.5rem;
  font-weight: var(--bold-weight);
}

.card .card-txt #stats .stat-name {
  font-size: 0.9rem;
  color: var(--main-stat-h-col);
}

.card .card-img {
  position: relative;
}

/* Image Overlay */
.card .card-img::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  background: var(--accent-col);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}