body {
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

main {
  min-height: 100vh;
  background: var(--main-bg-col);
  align-items: center;
  justify-content: center;
}

.card {
  width: 75rem;
  height: 29rem;
  background: var(--card-bg-col);
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.card .card-txt, 
.card .card-img {
  width: 50%;
  height: 100%;
}

.card .card-txt {
  padding: 4rem;
  align-items: flex-start;
  justify-content: space-between;
}

.card .card-txt #desc {
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.card .card-txt #stats {
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}